body {
  font-family: 'Special Elite', cursive;
  text-align: center;
  background-image: url("http://www.wallpapers13.com/wp-content/uploads/2015/12/Winter-scene-wallpaper-for-1920x1080-hdtv-1080p-57832-1440x900.jpg");
}
p {
  font-size: 24px;
}
.showTrails {
  height: 500px;
  overflow: scroll;
}
.title {
  font-size: 200px;
  color: white;
}
.welcomeText{
  color: white;
}
.singleTrail {
  color: #20ccf7;
  background-color: rgba(0, 0, 0, .7);
  border: 5px solid white;
  margin-bottom: 10px;
}
#delete {
  margin-bottom: 20px;
}
#allHikes {
  height: 500px;
  width: 500px;
  border: 5px solid white;
  overflow: scroll;
}
#map {
  height: 500px;
  width: 500px;
  float: right;
  border: 5px solid white;
}
#logout {
  background-color: red;
  color: white;
}
